{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
</head>
<body>
    <form enctype="multipart/form-data" action="{% url 'add_image' %}" method="post">
        {% csrf_token %}
        <label for="image">Upload Image:</label>
        <input type="file" name="image">
        <button type="submit">submit</button>
    </form>
<h2>Gallery</h2>
<a href="{% url 'logout' %}"><button>log out</button></a>
<div>
    {% for i in gallery_images %}
    {% if i.feedimage %}
    {% else %}
    <p>No image for this gallery item</p>
    {% endif %}
    {% empty %}
    <p>No images uploaded yet.</p>
    {% endfor %}


</div>


    
</body>
</html>